* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", Sans-serif;
}

:root {
  font-size: 16px;
}

#root {
  width: 100%;
}


